:root {
	body {
		background-color: #f6f7fb; //#e0f2fe;
		font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #183d6d;
		margin: 0;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #0d3896;
		margin: 0;
	}
}
